*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: url('./wallpp.jpg');
    background-blend-mode: darken;
    background-size: cover; /* Makes the image cover the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.logo{
    position: absolute;
    width: 12%;
    top: 50%;
    left: 25%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container{
    position: absolute;
    border-radius: 8px;
    width: 440px;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.container h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
}

input{
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}

input::placeholder{
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;
}

input[type=submit]{
    width: 320px;
    height: 45px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}

input[type=checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
}

label{
    color: rgb(125, 119, 119);
}

.form a{
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119, 119);
    text-decoration: none;
}

.content{
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;
}

.content h2{
    color: rgb(125, 119, 119);
}

.container a{
    color: #fff;
    text-decoration: none;
}